@model List<NaaBook.Models.Group>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    @foreach (var item in Model)
    {
        <a href="@Url.Action("index","qiymetlendirme",new {id=item.Id })" class="display-5 text-orange">@item.Name</a>
    }


</div>
<section class="homebody">
    <div class="container">


        <div class="row mbr-justify-content-center">

            <div class="col-lg-6 mbr-col-md-10">
                <div class="wrap" data-action="@Url.Action("index","cedvelim")">
                    <div class="ico-wrap">
                        <i class="mbr-iconfont far fa-newspaper"></i>
                        <!-- <span class="mbr-iconfont fa-volume-up fa"></span> -->
                    </div>
                    <div class="text-wrap vcenter">
                        <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Dərs <span class="display-5">Cədvəlim</span></h2>

                        <p class="mbr-fonts-style text1 mbr-text display-6">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum</p>

                    </div>
                </div>
            </div>
            <div class="col-lg-6 mbr-col-md-10">
                <div class="wrap" onclick="openNav()">
                    <div class="ico-wrap">
                        <i class="mbr-iconfont fas fa-child"></i>
                    </div>
                    <div class="text-wrap vcenter">
                        <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">
                            Qruplarım
                        </h2>
                        <p class="mbr-fonts-style text1 mbr-text display-6">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum</p>
                    </div>
                </div>
            </div>






        </div>

    </div>
</section>
@section scripts{

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>
}

