@{
    ViewBag.Title = "Home Page";
}

<section class="homebody">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="homesec">
                    <div class="col-lg-4">
                        <div class="onesec">
                            <i class="far fa-newspaper"></i>
                            <h4 class="text-orange">Cədvəl</h4>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="onesec">
                            <i class="fas fa-book-reader"></i>
                            <h4 class="text-orange">Fənlər</h4>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="onesec">
                            <i class="fas fa-chalkboard-teacher"></i>
                            <h4 class="text-orange">Müəllimlər</h4>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
