
@{
    ViewBag.Title = "Index";
}
<section id="teacherlist">
    <table class="table table-dark">
        <thead>
            <tr>

                <th scope="col">Ad Soyad</th>
                <th scope="col">Əlaqə nömrəsi</th>
                <th scope="col">E-poçt adresi</th>
            </tr>
        </thead>
        <tbody>
            <tr>

                <td>Əhmədov Əbilhəsən</td>
                <td>0504213665</td>
                <td><a href="#">xahmedov</a></td>
            </tr>
            <tr>

                <td>Əhmədov Əbilhəsən</td>
                <td>0504213665</td>
                <td><a href="#">xahmedov</a></td>
            </tr>
            <tr>

                <td>Əhmədov Əbilhəsən</td>
                <td>0504213665</td>
                <td><a href="#">xahmedov</a></td>
            </tr>
            <tr>

                <td>Əhmədov Əbilhəsən</td>
                <td>0504213665</td>
                <td><a href="#">xahmedov</a></td>
            </tr>

        </tbody>
    </table>
</section>